/* root */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-color: #f0f0f0;
  --secondary-color: #070707;
  --text-color: #f0f0f0;
  --background-color: #080808;
  --border-color: #ababab;
  --hover-color: #f0f0f0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #080808;
  color: #f0f0f0;
}
.container {
  padding: 10px 10%;
}

/* header */
#header {
  width: 100%;
  height: 100vh;
  background-image: url(images/pexels-stijn-dijkstra-1306815-2499792.jpg);
  background-size: cover;
  background-position: center;
}
#header::after {
  content: "Photo by Stijn Dijkstra: https://www.pexels.com/photo/body-of-water-2499792/";
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: wrap;
}

#navbar .logo {
  width: 140px;
}
#navbar .logo span {
  color: #070707;
}
#navbar .logo a {
  color: #f0f0f0;
  text-decoration: none;
}

#navbar ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
#navbar ul li a {
  color: #f0f0f0;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
#navbar ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: all 0.6s ease;
}
#navbar ul li a:hover::after {
  width: 100%;
}
#navbar .divider {
  margin: 0 20px;
  height: 100%;
  border: 1px solid #f0f0f0;
}

.header-text {
  margin-top: 20%;
  font-size: 30px;
}
.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.header-text h1 span {
  color: var(--border-color);
  text-shadow: 2px 2px 2px var(--secondary-color);
}

.cta-button {
  display: inline-block;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 26px;
}
.cta-button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: all 0.3s ease;
}

/* about */
#about {
  padding: 80px 0;
  color: #ababab;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
.row .about-col-1 {
  flex-basis: 35%;
  padding: 0 20px;
}
.row .about-col-1 img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.row .about-col-2 {
  flex-basis: 60%;
}
.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #f0f0f0;
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-link {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-link::after {
  content: "";
  width: 0%;
  height: 3px;
  background: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: all 0.3s ease;
}
.tab-link.active::after {
  width: 50%;
}
.tab-contents {
  display: none;
}
.tab-contents.active {
  display: block;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 18px;
}

/* services */

#services {
  padding: 80px 0;
  color: #ababab;
}
.services-list {
  display: grid;
  direction: row;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 20px;
  margin-bottom: 60px;
}
.service-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 40px;
  border: 1px solid #ababab;
  border-radius: 10px;
  padding: 40px;
  background-color: #070707;
}
.service-card i {
  font-size: 35px;
  color: var(--primary-color);
}
.service-card h3 {
  font-size: 24px;
  font-weight: 600;
}
.service-card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.service-card p {
  font-size: 18px;
  color: #ababab;
}
.service-card a {
  color: #f0f0f0;
  text-decoration: none;
  font-size: 18px;
}

/* portfolio */

#portfolio {
  padding: 40px 0;
  color: #ababab;
}

.work-list {
  display: grid;
  direction: row;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
  margin-bottom: 60px;
}
.work-card {
  border-radius: 10px;
  background-color: var(--primary-color);
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.work-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: block;
  transition: transform 0.3s ease;
}
.work-card img:hover {
  transform: scale(1.1);
}

.work-card-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), var(--primary-color));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.3s ease;
}
.work-card-text h3 {
  font-size: 22px;
  font-weight: 600;
  color: #f0f0f0;
  margin-bottom: 20px;
}
.work-card-text p {
  font-size: 16px;
  color: #f0f0f0;
}
.work-card-text a {
  color: #f0f0f0;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: var(--primary-color);
}
.work-card:hover .work-card-text {
  height: 100%;
}

.see-more {
  display: block;
  width: fit-content;
  margin: auto;
  padding: 20px 50px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  color: #f0f0f0;
  text-decoration: none;
}
.see-more:hover {
  background-color: var(--primary-color);
  color: #070707;
}

/* contact */
#contact {
  padding: 40px 0;
  color: #ababab;
}

.contact-left {
  flex-basis: 35%;
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p a {
  text-decoration: none;
  color: #ababab;
  font-size: 25px;
}
.contact-left p i {
  color: var(--primary-color);
  margin-right: 15px;
  font-size: 25px;
}
.social-links {
  margin-top: 40px;
  margin-bottom: 60px;
}
.social-links a {
  text-decoration: none;
  font-size: 30px;
  color: #ababab;
  margin-right: 15px;
  display: inline-block;
}
.social-links a:hover {
  color: var(--primary-color);
}
.social-links a i {
  transition: all 0.3s ease;
}
.cv-button {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 10px 25px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 24px;
}
.cv-button:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color);
  transition: all 0.3s ease;
}

.contact-right {
  flex-basis: 60%;
}
.contact-right form {
  width: 100%;
}
.contact-right form input,
.contact-right form textarea {
  width: 100%;
  padding: 15px;
  margin: 15px 0;
  border-radius: 6px;
  font-size: 18px;
  color: #f0f0f0;
  background: #262626;
  border: 0;
  outline: none;
}
.contact-right form input:focus,
.contact-right form textarea:focus {
  outline: none;
}
.contact-right form button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 20px;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.contact-right form button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--border-color);
  transition: all 0.3s ease;
}

/* footer */
#footer {
  width: 100%;
  font-weight: 300;
  text-align: center;
  color: #ababab;
  background-color: #262626;
  margin-top: 20px;
  padding: 40px 0;
}
#footer i {
  color: var(--primary-color);
}

/* small screen */

#navbar .fa-solid {
  display: none;
  cursor: pointer;
}
#navbar .fa-solid:hover {
  color: var(--primary-color);
}

@media only screen and (max-width: 600px) {
  /* #header {
    background-image: url(images/mobile-background.png);
  } */
  .header-text {
    margin-top: 20%;
    font-size: 16px;
  }
  .header-text h1 {
    font-size: 30px;
  }
  .cta-button {
    padding: 6px 18px;
    border-radius: 30px;
    font-size: 18px;
  }
  .cv-button {
    padding: 6px 18px;
    font-size: 18px;
  }

  #navbar .fa-solid {
    display: block;
  }
  #navbar .divider {
    height: 0%;
    width: 100%;
    margin: 20px 0;
  }
  ul.nav-links {
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    background: #262626;
    padding: 50px 20px 0;
    display: flex;
    flex-direction: column;
    z-index: 2;
  }
  ul.nav-links .fa-xmark {
    font-size: 22px;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
  }

  .sub-title {
    font-size: 40px;
  }
  .tab-link {
    margin-right: 20px;
    font-size: 16px;
  }

  .row .about-col-1,
  .row .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 img {
    width: 100%;
    height: auto;
  }

  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }
  .contact-left p a {
    font-size: 20px;
  }
  .contact-left p i {
    margin-right: 12px;
    font-size: 20px;
  }
  .social-links {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .social-links a {
    font-size: 26px;
    margin-right: 15px;
  }
}
